@use '../foundation/mixin';
@use '../foundation/colors';


/**
 * - overflow-anchor: Disables the browser scrolls the window
 *   when removing a previous line via backspace makes the height smaller.
 */
.ryuseicode {
  $root: &;

  &__lines {
    border: 0;
    caret-color: transparent;
    font-kerning: normal;
    letter-spacing: 0;
    margin: 0;
    outline: 0;
    position: relative;
    transform: translate3d( 0, 0, 0 );
    user-select: text;
    white-space: pre;
    z-index: 1;

    @supports ( overflow-anchor: none ) {
      overflow-anchor: none;
    }
  }

  &.is-mobile {
    #{ $root }__lines {
      caret-color: colors.$caret !important;
    }
  }
}
