@use '../foundation/colors';
@use '../foundation/typography';

$color: colors.$light02 !default;
$background: colors.$dark01 !default;

.ryuseicode {
  background: $background;
  color: colors.$text01;
  display: flex;
  flex-direction: column;
  font-family: typography.$font-family;
  font-size: typography.$font-size;
  letter-spacing: 0;
  position: relative;
  touch-action: none;

  ::selection {
    background: colors.$selection02;
  }
}
